<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PlantRoom</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>PlantGuide</string>
	<key>NSCameraUsageDescription</key>
	<string>Plant Room can use photos to identify your houseplants with the help of an machine learing algorithm</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string></string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIconn</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
            <key>3D</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>3D</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>AlexIdea</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AlexIdea</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Alpha</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Alpha</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>America</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>America</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ArtBlue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ArtBlue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
			<key>Artsy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Artsy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>BlackAndWhite</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>BlackAndWhite</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Chinese</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Chinese</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ChineseBold</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ChineseBold</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Classic</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Classic</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ComicSans</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ComicSans</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>DarkMode</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>DarkMode</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>dualColor</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>dualColor</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Experimental</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Experimental</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Finance</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Finance</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Ghost</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Ghost</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Gradient</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Gradient</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Green</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Green</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>HypeBeast</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>HypeBeast</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Inverse</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Inverse</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>KnockKnock</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>KnockKnock</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
			<key>Knowledge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Knowledge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>Large</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Large</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Palm</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Palm</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
			<key>Pandemic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pandemic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
            <key>Shopping</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Shopping</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>SocialGiant</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>SocialGiant</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Suss</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Suss</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Version1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Version1</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>Version2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Version2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>WavingHand</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>WavingHand</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
			<key>Zoomed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Zoomed</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>telephony</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
